CNTAC_2021B_Call.xlsx

run.ipynb

calendar_chilean.xlsx

Chilean_SPOCKapp.html

.travis.yml

build/lib

build/bdist.macosx-10.9-x86_64

dist/

.idea

.ipynb_checkpoints

FT2021B-01_Lira_Smarts1m_fast_variability.pdf

FT2021B-03-_Rojo_tramos_21B_ft.pdf

FT2021B-04_Odette Toloza.pdf